{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
    <h1>Dashboard per la Campagna: {{ campagna.descrizione }} ({{ campagna.anno }})</h1>
    <p>Da questa pagina puoi accedere a tutte le anagrafiche, già filtrate per la campagna corrente.</p>

    <div class="module">
        <h2>Dati della Campagna</h2>
        <ul>
            <li><a href="{% url 'admin:controlli_controllo_changelist' %}?campagna__id__exact={{ campagna.id }}">Visualizza Controlli</a> ({{ campagna.controlli_count }})</li>
            <li><a href="{% url 'admin:minacce_minaccia_changelist' %}?campagna__id__exact={{ campagna.id }}">Visualizza Minacce</a> ({{ campagna.minacce_count }})</li>
            <li><a href="{% url 'admin:scenari_scenario_changelist' %}?campagna__id__exact={{ campagna.id }}">Visualizza Scenari</a> ({{ campagna.scenari_count }})</li>
            <li><a href="{% url 'admin:elementtypes_elementtype_changelist' %}?campagna__id__exact={{ campagna.id }}">Visualizza Element Types</a> ({{ campagna.elementtypes_count }})</li>
            <li><a href="{% url 'admin:assets_asset_changelist' %}?campagna__id__exact={{ campagna.id }}">Visualizza Assets</a> ({{ campagna.assets_count }})</li>
            <li><a href="{% url 'admin:assets_nodostruttura_changelist' %}?campagna__id__exact={{ campagna.id }}">Visualizza Nodi di Struttura</a> ({{ campagna.nodistruttura_count }})</li>
       </ul>
    </div>

</div>
{% endblock %}